html, body {
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
}

#mapid {
	width: 100%;
	height: 100%;
	background-color: black;
}

a {
	color: white;
}

.show-header{
	width: 800px;
	height: 40px;
	margin: 80px auto 10px;
	display: block;
}

.show-header .show-header-left{
	width: 460px;
	height: 100%;
	float: left;
	font-family: Arial, sans-serif;
	font-size: 42px;
}

.show-header .show-header-right{
	box-sizing: border-box;
	width: 260px;
	height: 100%;
	float: right;
	text-align: right;
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px 10px 2px 0px;
}


.show-info {
	box-sizing: border-box;
	width: 800px;
	margin: auto;
	padding: 5px 60px;
	display: block;
	font-size: 16px;
	font-family: Arial, "Microsoft Yahei", simsun;
	line-height: 24px;
}

.show-info h2 {
	font-family: Arial, "Microsoft Yahei", simhei, simsun;
	font-size: 20px;
	margin-top: 2.5em;
	margin-bottom: 0.5em;
	padding-left: 5px;
}


.show-footer {
	width: 800px;
	margin: 20px auto 0px;
	padding: 10px 0px;
	text-align: center;
	padding: 20px auto;
	font-size: 14px;
	font-family: arial, sans-serif, simsun;
	/*border-top: 1px solid black;*/
}

a.link_studio {
	text-decoration: none;
	color: #85FF85;
}

a.link_studio:hover{
	text-decoration: underline;
}